[features]
seeds = false
skip-lint = false

[programs.devnet]
lobsterium = "ReplaceWithProgramID"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
